<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<h3>Company data</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Address</th>
    </tr>

    <tr th:each="company: ${companies}">
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{/company/delete(id=${company.id})}">Delete the company</a></td>
    </tr>
    <a href="/company/add">To add a new company</a>
</table>

</body>
</html>