<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<h3>Employees data</h3>

<table>
    <tr>
        <th>Profile picture</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Salary</th>
        <th>Position</th>
        <th>Company name</th>
    </tr>

    <tr th:each="employee: ${employees}">
        <td><img th:if="${employee.profilePic != null}"
                 th:src="@{/employees/getImages(fileName=${employee.profilePic})}"></td>
        <img th:if="${employee.profilePic == null }" src="/image/images.png">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>
        <td><a th:href="@{/employees/delete(id=${employee.id})}">Delete the employee</a></td>
    </tr>

    <a href="/employees/add">To add a new employee</a>
</table>

</body>
</html>