<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<a href="/company"> See All Companies</a>
<a href="/employees"> See All Employees</a>

<a href="/users">See All Users</a>
<a href="/users/add">To Add a New User</a>

<th:block th:if="${currentUser == null}">
    <a href="/login">Login</a>
</th:block>

<th:block th:if="${currentUser != null}">
    <a href="/logout"> Sign Out</a>
</th:block>

</body>
</html>

